<div class="nav-container">
	<% if(typeof page !== 'undefined' && page === 'oil-paintings'){ %>
		<a href="/admin/oilPaintings"  class="active-nav">Oil Paintings</a>
	<% } else { %>
		<a href="/admin/oilPaintings">Oil Paintings</a>
	<% } %>
	
	<% if(typeof page !== 'undefined' && page === 'portraits'){ %>
		<a href="/admin/portraits"  class="active-nav">Portraits</a>
	<% } else { %>
		<a href="/admin/portraits">Portraits</a>
	<% } %>

	<% if(typeof page !== 'undefined' && page === 'custom-gifts'){ %>
		<a href="/admin/customGifts"  class="active-nav">Custom Gifts</a>
	<% } else { %>
		<a href="/admin/customGifts">Custom Gifts</a>
	<% } %>
</div>