<div class="header">
	<img class="logo" src="/images/logo.png" />
	<ul class="navigation">
		<a href="/"><li>Home</li></a>
		<a href="/oilPaintings"><li>Oil Paintings</li></a>
		<a href="/sketches"><li>Sketches</li></a>
		<a href="/customGifts"><li>Custom Gifts</li></a>
		<a href="/media"><li>Media</li></a>
		<a href="/contact"><li>Contact</li></a>
	</ul>
</div>