<div class="header">
	<ul class="navigation">
		<a href="/oilPaintings"><li>Oil Paintings</li></a>
		<a href="/portraits"><li>Portraits</li></a>
		<a href="/customGifts"><li>Custom Gifts</li></a>
		<a href="/contact"><li>Contact</li></a>
	</ul>
</div>