<div class="header">
	<a href="/"><img class="logo" src="/images/brand.jpg" /></a>
	<ul class="navigation">
		<a href="/" class="home-tab"><li>Home</li></a>
		<% for(var i=0; i<categorySet.length; i++){%>
			<% if(i<3){%>
				<a href="/<%= categorySet[i].slug %>"><li><%= categorySet[i].name %></li></a>
			<%}%>
		<% } %>
		<a href="/media"><li>Media</li></a>
		<a href="/contact"><li>Contact</li></a>
	</ul>
</div>