<div class="header">
	<a href="/"><img class="logo" src="/images/logo.png" /></a>
	<ul class="navigation">
		<a href="/" class="home-tab"><li>Home</li></a>
		<a href="/oilPaintings" class="oil-painting-tab"><li>Oil Paintings</li></a>
		<a href="/sketches" class="sketches-tab"><li>Sketches</li></a>
		<a href="/customGifts" class="custom-gifts-tab"><li>Custom Gifts</li></a>
		<a href="/media"><li>Media</li></a>
		<a href="/contact"><li>Contact</li></a>
	</ul>
</div>