<div class="sidebar">
	<a href="/" class="logo"><img src="/images/logo.jpg" /></a>
	<p class="caption">Artist Aditi</p>
	<div class="sidebar-items">
		
		<% if(typeof page !== 'undefined' && page === 'oil-paintings'){ %>
			<a href="/oilPaintings" class="sidebar-item pink" style="border-right-color: #F995F4; color: #F995F4;">Oil Paintings</a>
		<% } else { %>
			<a href="/oilPaintings" class="sidebar-item pink">Oil Paintings</a>
		<% } %>

		<% if(typeof page !== 'undefined' && page === 'portraits'){ %>
			<a href="/portraits" class="sidebar-item dark-orange" style="border-right-color: #FFB54E; color: #FFB54E;">Portraits</a>
		<% } else { %>
			<a href="/portraits" class="sidebar-item dark-orange">Portraits</a>
		<% } %>

		<% if(typeof page !== 'undefined' && page === 'custom-gifts'){ %>
			<a href="customGifts" class="sidebar-item purple" style="border-right-color: #A05FEF; color: #A05FEF;">Customized Gifts</a>
		<% } else { %>	
			<a href="customGifts" class="sidebar-item purple">Customized Gifts</a>
		<% } %>

		<% if(typeof page !== 'undefined' && page === 'media'){ %>
			<a href="/media" class="sidebar-item green" style="border-right-color: #BBD302; color: #BBD302;">Media</a>
		<% } else { %>
			<a href="/media" class="sidebar-item green">Media</a>
		<% } %>

		<% if(typeof page !== 'undefined' && page === 'about'){ %>
			<a href="/about" class="sidebar-item orange" style="border-right-color: #FFB54E; color: #FFB54E;">About</a>
		<% } else { %>
			<a href="/about" class="sidebar-item orange">About</a>
		<% } %>


		<% if(typeof page !== 'undefined' && page === 'contact'){ %>
			<a href="/contact" class="sidebar-item blue" style="border-right-color: #83C3F1; color: #83C3F1;">Contact</a>
		<% } else { %>
			<a href="/contact" class="sidebar-item blue">Contact</a>
		<% } %>
	</div>
</div>