<!Doctype html>
<html>
	<head>
		<title>Oil Paintings | Artist Aditi</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />

		<script type="text/javascript" src="/javascripts/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="/javascripts/script.js"></script>
	</head>
	<body>
		<div class="main-container">
			<% include ./partials/sidebar %>
			<div class="content-area">
				<a href="https://www.facebook.com/artistaditi" target="_blank"><img class="fb-icon" src="/images/facebook-icon.png" /></a>
				<h2 class="about-heading">Aditi Mittal</h2>
				<img class="about-image" src="/images/birthday1.jpg" />
			</div>
			<div class="clear"></div>
		</div>
	</body>
</html>