<!DOCTYPE html>  
<html lang="en">  
	<head>
		<title>Admin | Artist Aditi</title>
		<link rel="stylesheet" href="/stylesheets/admin.css" />
		<style>
			body{
				background: #F8F8F8;
			}
		</style>
		<script type="text/javascript" src="/javascripts/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="/javascripts/lazyload.js"></script>
		<script type="text/javascript" src="/javascripts/admin-script.js"></script>
	</head>
	<body>
		<div class="main-container">
			<a href="/admin/logout" class="btn btn-red" style="position: fixed; top: 15px; right: 15px; text-decoration:none">Logout</a>
			<% include ./partials/admin-navigation %>
			<div class="content-area">
				<div>
						<input type="text" placeholder="Category Name" id="category_name" />
						<input type="text" placeholder="Category Slug" id="category_slug" />
						<button type="button" id="addCategory" class="btn btn-orange">Add Category</button>
				</div>
				<br /><br /><br />
				<table style="width:100%;" border="1">
					<tr>
						<th>Name</th>
						<th>Slug</th>
					</tr>
					<% for (var i=0; i<categories.length; i++) { %>
						<tr>
							<td><%= categories[i].name %></td>
							<td><%= categories[i].slug %></td>
						</tr>
					<% } %>
				</table>
			</div>
		</div>
    </body>
</html>
    