<!DOCTYPE html>  
<html lang="en">  
	<head>
		<title>Admin Oil Painting | Artist Aditi</title>
		<link rel="stylesheet" href="/stylesheets/admin.css" />
		<style>
			body{
				background: #F8F8F8;
			}
		</style>
	</head>
	<body>
		<div class="main-container">
			<% include ./partials/admin-navigation %>
			<div class="content-area">
				Oil Painting Section
			</div>
		</div>
    </body>
</html>
    