<!DOCTYPE html>  
<html lang="en">  
	<head>
		<title>Admin | Artist Aditi</title>
		<link rel="stylesheet" href="/stylesheets/admin.css" />
	</head>
	<body>
		<div class="login-container">
			<h3>Admin Login</h3>
			<form action="/admin/authenticate" method="POST">
		    	<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Username" name="username" autofocus="autofocus" autocomplete="off">
		    	<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
			  	<button type="submit" class="btn btn-blue float-right">Login</button>
			</form>
		</div>
    </body>
</html>
    