<!DOCTYPE html>  
<html lang="en">  
	<head>
		<title>Admin | Artist Aditi</title>
		<link rel="stylesheet" href="/stylesheets/admin.css" />
		<style>
			body{
				background: #F8F8F8;
			}
		</style>
	</head>
	<body>
		<div class="main-container">
			<a href="/admin/logout" class="btn btn-red" style="position: fixed; top: 15px; right: 15px; text-decoration:none">Logout</a>
			<% include ./partials/admin-navigation %>
			<div class="content-area">
				Click on any of the above tabs to modify the corresponding section :)
			</div>
		</div>
    </body>
</html>
    