<!Doctype html>
<html>
	<head>
		<title>Contact | Artist Aditi</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />

		<script type="text/javascript" src="/javascripts/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="/javascripts/script.js"></script>
	</head>
	<body>
		<div class="main-container" style="background: url('/images/colouring_pencils.jpg') no-repeat; background-size: cover">
			<% include ./partials/sidebar %>
			<div class="content-area">
				<h2 class="contact-heading">Contact Me</h2>
				<% if(typeof message !== 'undefined'){ %>
					<% if(success === 'true'){ %>
						<p class="contact-message" style="color: #4CAF50;"><%= message %></p>
					<% } else { %>
						<p class="contact-message" style="color: #F44336;"><%= message %></p>
					<% } %>
				<% } %>
				<form class="contact-form" action="/sendEmail" method="POST">
					<input type="name" name="name" placeholder="Enter your name.." />
					<input type="email" name="email" placeholder="Enter your email.."/>
					<textarea name="message" placeholder="Write your message.."></textarea>
					<button type="submit">Send</button>
				</form>
			</div>
			<div class="clear"></div>
		</div>
	</body>
</html>