<!Doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Contact | Artist Aditi</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<script type="text/javascript" src="/javascripts/jquery-1.11.2.min.js"></script>
	</head>
	<body>
		<div class="main-container">
			<% include ./partials/header %>
			<div class="content-area category">
				<h2 class="heading">Contact Me</h2>
				<p class="margin-20 contact-caption">
					Submit you query or drop a mail at doc.aditi28@gmail.com
				</p>
				<% if(typeof message !== 'undefined'){ %>
					<% if(success === 'true'){ %>
						<span class="contact-message" style="color: #4CAF50;"><%= message %></span>
					<% } else { %>
						<span class="contact-message" style="color: #F44336;"><%= message %></span>
					<% } %>
				<% } %>
				<form class="contact-form" action="/sendEmail" method="POST">
					<input type="name" name="name" placeholder="Enter your name.." required/>
					<input type="email" name="email" placeholder="Enter your email.." required/>
					<input type="number" name="number" placeholder="Enter your phone number.." />
					<textarea name="message" placeholder="Write your message.." required></textarea>
					<button type="submit">Send</button>
				</form>
			</div>
		<footer style="background:none">
			Copyright &copy; Artist Aditi
		</footer>
	</body>
	<script>
		$(function(){
			setTimeout(function(){
				$('.contact-message').hide(200);
			}, 5000);
		});
	</script>
</html>