<!Doctype html>
<html>
	<head>
		<title>Aditi Mittal</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />

		<script type="text/javascript" src="/javascripts/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="/javascripts/script.js"></script>
	</head>
	<body>
		<div class="main-container">
			<div class="sidebar">
				<div class="logo"></div>
				<p class="caption">An Artist</p>
				<div class="sidebar-items">	
					<div class="sidebar-item pink">Photography</div>
					<div class="sidebar-item dark-orange">Illustrations</div>
					<div class="sidebar-item purple">Unposted Letters</div>
					<div class="sidebar-item green">Blog</div>
					<div class="sidebar-item orange">About</div>
					<div class="sidebar-item blue">Contact</div>
				</div>
			</div>
			<div class="content-area">
				<div class="homepage-slider">
					<div class="homepage-slider-item item-1"></div>
					<div class="homepage-slider-item item-2"></div>
					<div class="homepage-slider-item item-3"></div>
					<div class="homepage-slider-item item-4"></div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</body>
</html>