<!Doctype html>
<html>
	<head>
		<title>Artist Aditi</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />

		<script type="text/javascript" src="/javascripts/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="/javascripts/paper-full.min.js"></script>
		<script type="text/paperscript" src="/javascripts/ball.js" canvas="myCanvas"></script>
		<script src="https://code.createjs.com/soundjs-0.6.0.min.js"></script>
		<script type="text/javascript" src="/javascripts/script.js"></script>
	</head>
	<body>
		<div class="main-container">
			<% include ./partials/sidebar %>
			<div class="content-area">
				<div class="homepage-slider">
					<% for(var i=0; i<sliderSet.length; i++){ %>
					<div class="homepage-slider-item" style="background-image: url('<%= sliderSet[i] %>')"></div>
					<% } %>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</body>
</html>