<!Doctype html>
<html>
	<head>
		<title>Artist Aditi</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />

		<script type="text/javascript" src="/javascripts/jquery-1.11.2.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.min.js"></script>
	</head>
	<body>
		<div class="main-container">
			<% include ./partials/header %>
			<div class="content-area">
				<h2 class="heading">Galleries</h2>
				<div class="gallery">
					<div class="gallery-item">
						<a href="/oilpaintings"><img src="/images/oil-paintings/IMG_107432505234194.jpeg" /></a>
						<p>Oil Paintings</p>
					</div>
					<div class="gallery-item">
						<a href="/rakhi"><img src="/images/rakhi/11782480_372903579500823_6870516901066378359_o.jpg" /></a>
						<p>Rakhi</p>
					</div>
					<div class="gallery-item">
						<a href="/customGifts"><img src="/images/custom-gifts/10801712_339106029547245_1629294118157922433_n.jpg" /></a>
						<p>Custom Gifts</p>
					</div>
					<div class="gallery-item">
						<a href="/sketches"><img src="/images/sketches/img16.JPG" /></a>
						<p>Sketches</p>
					</div>
					<div class="gallery-item">
						<a href="/portraits"><img src="/images/portraits/img4.JPG" /></a>
						<p>Portraits</p>
					</div>
				</div>
				<a href="https://www.facebook.com/artistaditi" target="_blank"><img class="fb-icon" src="/images/facebook-icon.png" /></a>
			</div>
		<footer>
			Copyright &copy; Artist Aditi
		</footer>
		<script>
			$(document).ready(function(){
				$('.gallery').masonry({
	                itemSelector: '.gallery-item',
	                columnWidth: 50
	            });
			});
		</script>
	</body>
</html>