<!Doctype html>
<html>
	<head>
		<title>Artist Aditi</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />

		<script type="text/javascript" src="/javascripts/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="/javascripts/script.js"></script>
	</head>
	<body>
		<div class="main-container">
			<% include ./partials/header %>
			<div class="content-area">
				<a href="https://www.facebook.com/artistaditi" target="_blank"><img class="fb-icon" src="/images/facebook-icon.png" /></a>
				<img class="about-image" src="/images/my_pic.jpg" />
				<div class="about-content">
					<h2 class="about-heading">Hey! I'm Aditi Mittal</h2>
					<p class="about-caption">
						I'm an Artist by passion and a dentist by profession.
					</p>
					<div class="category-tiles">
						<a href="/oilPaintings" class="tile-item blue">Oil Paintings</a>
						<a href="/portraits" class="tile-item green">Portraits</a>
						<a href="/customGifts" class="tile-item orange">Custom Gifts</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>