<!Doctype html>
<html>
	<head>
		<title>Oil Paintings | Aditi Mittal</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />

		<script type="text/javascript" src="/javascripts/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="/javascripts/script.js"></script>
	</head>
	<body>
		<div class="main-container">
			<% include ./partials/sidebar %>
			<div class="content-area">
				<div class="oil-paintings">
					<% for(var i=0; i< imageSet.length; i++) { %>
						<div class="oil-paintings-item">
							<img src="<%= imageSet[i] %>" />
						</div>
					<% } %>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</body>
</html>