<!Doctype html>
<html>
	<head>
		<title>Contact | Artist Aditi</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />

		<script type="text/javascript" src="/javascripts/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="/javascripts/script.js"></script>
	</head>
	<body>
		<div class="main-container" style="background: url('/images/colouring_pencils.jpg') no-repeat; background-size: cover">
			<% for(var i=0; i<mails.length; i++){ %>
				<div class="viewContact-item">
					<p class="name">
						<%= mails[i].name %> (<%= mails[i].email %>)
					</p>
					<p class="message">
						<%= mails[i].message %>
					</p>
				</div>
			<% } %>
		</div>
	</body>
</html>