/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset CSS ends */

@import "components/vars";
@import "components/mixins";
@import "components/helpers";
@import "components/input";
@import "components/cards";
@import "components/sidebar";
@import "components/table";
@import "components/images";

/*
========================================
Fonts Used
========================================
*/

@font-face {
  font-family: "Futura Bk BT Book";
  src: url("../fonts/tt0140m_.ttf");
}

/*
=======================================
Common CSS
=======================================
*/

body {
  background-color: #F8F8F8;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.btn {
  display: inline-block;
  font-size: 15px;
  color: #1C1C1C;
  background-color: #EEEEEE;
  padding: 8px 16px;
  margin-bottom: 10px;
  border: none;
  font-family: "Lucida Grande",Helvetica,Arial,sans-serif;
  border: 2px solid transparent;
}

.btn-orange {
  background: #EF6E15;
  color: #FFFFFF;
}

.btn-red {
  background: #D32F2F;
  color: #FFFFFF;
}

.btn-blue {
  background-color: #3F51B5;
  color: #FFFFFF;
}

.btn:hover {
  cursor: pointer;
}

.main-container {
  margin: auto;
  margin-top: 50px;
  width: 1100px;
}

.form-area {
  margin: auto;
  width: 990px;
}

input {
  border: 1px solid #F7F7F7;
  padding: 6px 10px;
  font-size: 14px;
  margin-right: 12px;
}

table {}

tr:nth-child(2n) {
  background-color: #FFFFFF;
}

th {
  font-size: 16px;
}

td, th {
  padding: 8px;
  text-align: center;
}

/*
========================================
Login CSS
========================================
*/

.login-container {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  height: 290px;
  background-color: #EEEEEE;
  padding: 25px;
  border-radius: 3px;
}

.login-container h3 {
  text-align: center;
  padding-bottom: 30px;
  color: #3F51B5;
  font: 25px "Lucida Grande",Helvetica,Arial,sans-serif;
}

.login-container input {
  width: 100%;
  font-size: 15px;
  color: #1C1C1C;
  padding: 12px 14px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #FFFFFF;
  font-family: "Lucida Grande",Helvetica,Arial,sans-serif;
  -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
  -moz-box-sizing: border-box; /* Firefox 1 - 28 */
  box-sizing: border-box; /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}

.login-container input:focus {
  outline: none;
}

.login-button {
  width: 100%;
}