body {
	padding: 0px;
	margin: 0px;
	border: 0px;
  	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
 	color: #00B7FF;
}

.clear{
	clear: both;
}

.main-container{
	position: relative;
}


/*
===================================
Sidebar
===================================
*/

.sidebar{
	position: absolute;
	padding-top: 60px;
	width: 300px;
	height: 100%;
	background-color: #FFFFFF;

	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
 	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
  	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}

.logo{
	margin: auto;
	width: 130px;
	height: 130px;
	border-radius: 100%;
	background-color: #3FA9F5;
	margin-bottom: 30px;
}

.caption{
	text-align: center;
	color: #545454;
	margin-bottom: 25px;
	font-size: 13px;
}

.sidebar-item{
	padding: 9px;
	text-align: center;
	text-transform: uppercase;
	border-right: 5px solid #FFFFFF;
	border-bottom: 1px solid #EEEEEE;

	-webkit-transition-property: background-color, border-right-color;
    -moz-transition-property: background-color, border-right-color;
    -o-transition-property: background-color, border-right-color;
    ransition-property: background-color, border-right-color;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.sidebar-item:last-child{
	border-bottom: 1px solid transparent;
}

.sidebar-item:hover{
	cursor: pointer;
	background-color: #F6F6F6;
}

.pink:hover{
	border-right-color: #F995F4;
}

.dark-orange:hover{
	border-right-color: #EF6E15;
}

.purple:hover{
	border-right-color: #A05FEF;
}

.green:hover{
	border-right-color: #BBD302;
}

.orange:hover{
	border-right-color: #FFB54E;
}

.blue:hover{
	border-right-color: #83C3F1;
}

/*
===================================
Content Area
===================================
*/

.content-area{
	position: relative;
	float: right;
	width: calc(100% - 300px);
	min-height: 630px;
}

/*
====================================
Homepage Slider
====================================
*/

.homepage-slider-loader{
	position: absolute;
    width: 100%;
    height: 5px;
    background-color: #3FA9F5;
    -webkit-animation-name: progress-bar; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
    animation-name: progress-bar;
    animation-duration: 3s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes progress-bar {
    from {
    	width: 0%;
    }
    to {
    	width: 100%;
    }
}

/* Standard syntax */
@keyframes progress-bar {
    from {
    	width: 0%;
    }
    to {
    	width: 100%;
    }
}

.homepage-slider{
	position: absolute;
	width: 100%;
	height: 100%;
}

.homepage-slider-item{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.item-1{
	background-image: url('../images/slider.jpg');
}

.item-2{
	background-image: url('../images/slider2.jpg');
}

.item-3{
	background-image: url('../images/slider3.jpg');
}

.item-4{
	background-image: url('../images/slider4.jpg');
}