.card {
  margin-top: $margin-md;
  border: $border-basic;

  // box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  // box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.08);
  border-radius: $border-radius;
  background-color: #FFFFFF;

  &-block {
    padding: $padding-lg;

    .heading {
      // @include fontSize(16px);
      font-weight: normal;
    }
  }
}