.pos {
  position: absolute;

  &-has {
    position: relative;
  }

  &-l {
    &-t {
      @extend .pos;

      top: 0px;
      left: 0px;
    }

    &-m {
      @extend .pos;

      top: 50%;
      left: 0px;

      @include transform(translateY(-50%));
    }

    &-b {
      @extend .pos;

      bottom: 0px;
      left: 0px;
    }
  }

  &-r {
    &-t {
      @extend .pos;

      top: 0px;
      right: 0px;
    }

    &-m {
      @extend .pos;

      top: 50%;
      right: 0px;

      @include transform(translateY(-50%));
    }

    &-b {
      @extend .pos;

      bottom: 0px;
      right: 0px;
    }
  }

  &-m {
    &-t {
      @extend .pos;

      top: 0px;
      left: 50%;

      @include transform(translateX(-50%));
    }

    &-b {
      @extend .pos;

      bottom: 0px;
      left: 50%;

      @include transform(translateX(-50%));
    }

    &-m {
      @extend .pos;

      top: 50%;
      left: 50%;

      @include transform(translateX(-50%) translateY(-50%));
    }
  }
}