.image {
  &-container {
    padding: 12px;

    img {
      width: 100%;
      border-radius: 3px;
    }
  }

  &-category {
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 8px 12px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    i {
      right: 10px;
      top: 5px;

      @include fontSize(18px);

      &:hover {
        cursor: pointer;
        color: $color-font-tertiary;
      }
    }
  }
}