<div images>
	<div class="card">
		<div class="card-block">
			<div class="pure-g">
				<div class="pure-u-7-24">
					<select ng-model="category_id">
						<option ng-repeat="category in categories" value="{{category._id}}">{{category.name}}</option>
					</select>
				</div>
				<div class="pure-u-1-24"></div>
				<div class="pure-u-7-24">
					<input type="text" placeholder="Image Url" ng-model="url" />
				</div>
				<div class="pure-u-1-24"></div>
				<div class="pure-u-7-24">
					<input type="button" class="btn" value="Save" ng-click="saveImage()" />
				</div>
			</div>
			<div class="pure-g">
				<div ng-repeat="image in images" class="pure-u-1-2 image-container">
					<div class="pos-has">
						<p class="pos pos-l-t image-category">
							{{categoryMap[image.category_id]}}
							<i class="icon ion-android-delete pos-r-t" ng-click="deleteImage(image._id)"></i>
						</p>
						<img ng-src="{{image.url}}" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>